header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background: #de9918;
  position: sticky;
  top: 0;

  h1 {
    font-size: 32px;
    font-family: 'Montserrat', serif;
  }
}

@media (max-width: 900px) {
  header {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
